<form action="/login" method="POST" id="login_navbar" class="navbar-form navbar-right" role="form">
    <div class="form-group">
        <input type="text" placeholder="Email" name="user" class="form-control">
    </div>
    <div class="form-group">
        <input type="password" placeholder="Password" name="password" class="form-control">
    </div>
    <button id="directlogin" type="submit" class="btn btn-success">Sign In</button>
    <button id="ssologon" type="submit" class="btn btn-success">SSO Logon</button>
</form>
